$colorFondo: #FADECF;
$colorFondoHover: rgba(250,222,207,0.6);
$colorLetra: #756E97;
$colorLetraHover: rgba(117,110, 151, 0.7 );
$colorPuente: #F4FAC3;
$colorBotonHover: #946FA3;
$colorLetraBoton: white;



